{
    "cameras": [
        {
            "name": "UBS Main Door #10",
            "url": "rtsp://cam.marcol.com/defaultSecondary?streamType=m",
            "username": "marcol",
            "password": "videofeed",
            "x": 600,
            "y": 600,
            "width": 800,
            "height": 600
        },
        {
            "name": "UBS Lobby",
            "url": "rtsp://cam.marcol.com:555/defaultSecondary?streamType=m",
            "username": "marcol",
            "password": "videofeed",
            "x": 600,
            "y": 600,
            "width": 800,
            "height": 600
        }
    ]
}
