{
    "cameras": [
        {
            "name": "Wowza Developer RTSP Stream Test",
            "url": "rtsp://1701954d6d07.entrypoint.cloud.wowza.com:1935/app-m75436g0/27122ffc_stream2",
            "protocol": "udp",
            "username": "",
            "password": "",
            "x": 600,
            "y": 600,
            "width": 800,
            "height": 600
        }
    ],
    "debugLevel": "info"
}
